<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="register-success-page">
    <main>
        <h1>Registration Successful</h1>
        <p>Thank you, <%= businessname %>, for registering your services with us!</p>
        <button onclick="window.location.href='/home';">Go to Homepage</button>
    </main>
</body>
</html>
