body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #5b73d2, #d54444, #f2b83c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.cover {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.navigation nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1em;
}

.navigation nav a:hover {
    text-decoration: underline;
}

.form-container {
    background-color: #fff;
    background: linear-gradient(45deg, #abb9f4, #d59d9d, #f2c25a);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #f3eded;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #626161;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #0056b3;
}

p {
    margin-top: 15px;
    color: #666;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
